@import 'normalize.css';
@import 'skeleton.css';

#app {
  padding: 30px 0;
}

.header {
  .version {
    font-size: .4em;
    color: #a1a1a1;
  }

  .description { margin-bottom: 0; }

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    margin: 40px auto;
    background: #dfdfdf;
  }
}

.footer {
  padding-top: 40px;

  .request {
    background: #f0f0f0;
    padding: 10px 18px;
    margin-bottom: 30px;
  }
}

.label { @extend label }

input[type=file] {
  @extend input;
}

.preview-upload-image {
  img {
    max-width: 200px;
    height: auto;
  }
}

.preview-upload-image {
  @extend input;
}

.canvas {
  canvas {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
}

.attention {
  color: tomato;
  font-size: .8em;
}

.copyright { text-align: right; }
